.main-panel, .btn-toolbar, .contact-list{
  margin-top: 8px;
}

label{
  font-weight: bold;
}

.btn-pad{
  margin-left: 5px;
}

.toast {
  opacity: 1 !important;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
